.navbar{
  background-color: #1a2437;
  height: 50px;
  box-shadow: 0px 0px 20px 0px #505050;
}
.navbar-header{
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

.navbar-header img{
  width: 60px;
}
